/* CSS for the landing page */
.run-code {
    background-color: #1d1d1d;
    font-weight: 600;
    padding: 10px 15px;
    color: #f1f1f1;
    border-radius: 25px;
    max-width: 160px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Change the background and text color on hover */
.run-code:hover {
    background-color: #9b59b6;
    color: #f1f1f1;
}

.get-started-tab-container {
    display: flex;
    gap: 1rem;
}
/* smaller tab on smaller screens*/
@media only screen and (max-width: 1030px) {
    .get-started-tab-container {
        gap: 0.5rem;
    }
}
.get-started-tab {
    background-color: #f0f0f099;
    font-weight: 600;
    padding: 10px 20px;
    color: #1d1d1d;
    border-radius: 25px 25px 0px 0;
    max-width: 180px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.4s;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2); 
}
/* smaller tab on smaller screens*/
@media only screen and (max-width: 1030px) {
    .get-started-tab {
        padding: 8px 18px;
        font-size: 0.9rem;
    }
}

.selected {
    background-color: #d1d1d166;
}
.tab-content h2 {
    margin-top: 0.8rem !important;
}
.tab-content {
    background-color: #d1d1d166;
    color: #1d1d1d;
    padding: 20px;
    border-radius: 0px 25px 25px 25px;
    display: none;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    box-shadow: none 0 0 0 rgba(0, 0, 0, 0.2); 
    transition: display 0.3s;
    margin-bottom: 2rem;
}
@media only screen and (max-width: 630px) {
    .tab-content {
        border-radius: 0px 0px 25px 25px;
    }
}

.selected-content {
    display: block;
}


