/* CSS for the top navigation bar */
.navigation {
  height: 70px;
  background-color: #f1f1f1;
  color: #363636;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}
.brand {
  line-height: 70px;
  font-weight: 600;
  font-size: 1.2em;
}

/* hide if screen size is from 900 to 1000 */
@media screen and (max-width: 1300px) {
  .brand {
    display: none;
  }
}

a#home, a#contribute {
  border-radius: 3rem;
}

.brand a,
.brand a:visited {
  text-decoration: none;
  color: #363636;
}
.brand a:hover,
.brand a:visited:hover {
  text-decoration: none;
  color: #9b59b6;
}
.nav-container {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
nav {
  //float: right;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
  font-size: 0.9rem;
  font-weight: 500;
}


.nav-dropdown li {
  float: none;
}


.nav-list > li .main-nav-item {
  padding: 0 20px;
  border-radius: 2rem 2rem 2rem 2rem;
}
.nav-list > li .main-nav-item:hover {
  border-radius: 2rem 2rem 0rem 0rem;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  //padding: 0 20px;
  line-height: 50px;
  background-color: #f1f1f1;
  color: #363636;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #9b59b6;
  color: #fff;
}
#home:hover, #contribute:hover {
  background-color: #9b59b6;
  color: white !important;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

.long-item {
  min-width: 240px;
}
.medium-item {
	min-width: 190px;
  }
.short-item {
  min-width: 150px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0rem 0rem 1rem 1rem;
  background-color: #f1f1f1;

}

.bottom-nav-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: -2rem;

}

.bottom-nav {
  background-color: #f1f1f1;
  font-weight: 600;
  padding: 8px 8px;
  color: #2e2e2e;
  border-radius: 45px;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 200px;
  border: 2px solid #c1c1c1;
}
.bottom-nav:hover {
  background-color: #9b59b6;
  color: #f1f1f1;
}
.button-label {
  font-size: 0.9rem;
  font-weight: 400;
}

#home {
  display: none;
}