/* Geometry adjustments */
.jd-content{
    margin-top: 5em;
    padding-left:10%;}

@media (min-width: 1050px) {
    .jd-content {
        width: 700px;
        margin-left: 0px;
        padding-left: 80px;}
    .header {
        width: 760px;}
}
/* MENU adjustments */

#menu-logo-link { text-decoration: none;}

.menu-logo img {
    width: 175px;
    padding: 10px;
    padding-top: 40px;
    padding-left: 20px;
    /* padding-bottom: 20px */
}
.menu-logo {
    font-family: 'Lato', Arial;
    font-size: 25px;
    text-decoration: none;
    color: #222;
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0;
    margin-top: -20px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
ul.pure-menu-list {
    margin-top: 15px;
    border-top: 1px solid black;
}
ul.pure-menu-sublist {
    box-shadow: inset 0px 12px 5px -12px rgb(210,210,210), inset 0px -12px 5px -12px rgb(210,210,210);
    list-style-type: none;
    padding-left: 10px;
}

#menu .pure-menu-sublist a.pure-menu-link {
    font-size: 15px;
    padding-left: 10px;
}

.pure-menu-top-item {
    box-shadow: inset 0px 12px 5px -12px rgb(210,210,210), inset 0px -12px 5px -12px rgb(210,210,210);
}
#menu a.pure-menu-link {
    padding-left: 8px;
    font-family: 'Lato', Arial;
    font-size: 18px;
    color: midnightblue;
    text-rendering: optimizeLegibility;
}
li.pure-menu-sublist-title {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-family: 'Lato', Arial;
    font-size: 18px;
    color: #222;
    text-rendering: optimizeLegibility;
}
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: darkgray;
    color: white;
}
#menu .pure-menu-selected a.pure-menu-link {
    background: #333;
    color: white;
}

#menu {
    overflow-x: hidden;
}

/* TOC adjustments */
.jd-toc {
    border-left: 1px solid black;
    padding-left: 5px;}
.jd-toc ol {
    list-style-type: none;
    padding-left: 1.2em;}
.jd-toc ol ol {
    list-style-type: dot;}
.jd-toc ol ol ol {
    list-style-type: square;
}

/* a bit of restyling of code zones */
.jd-content pre code {
    padding: 20px;
    border-radius: 5px;
    background: aliceblue;
}

/* Code output special formatting */
.jd-content .code_output{
    /* padding-top: 0.5em; */
    line-height: 0em;
    border-left: 2px solid lightgray;
    padding-left: 10px;}

/* .jd-content .code_output:before {
    content: "Output:"
} */

.jd-content .code_output {
    padding-left: 10px;
    font-family: georgia;
    font-style: italic;
    color: darkblue;}

.jd-content .code_output pre code {
    background: floralwhite;
    font-style: normal;
}
