<!-- CONTENT ENDS HERE -->
      </div> <!-- end of id=main -->
  </div> <!-- end of id=layout -->
  <!-- for collapse functionality -->
  <script src="/libs/collapse/collapse.js"></script>
  <script src="/libs/pure/ui.min.js"></script>
    <!-- navigation bar switch experiment  -->
    <script src="/libs/nav/experiment.js"></script>
    <!-- navigation bar -->
    <script src="/libs/nav/nav.js"></script>
    <!-- landing page -->
    <script src="/libs/landing/landing.js"></script>
  {{ if hasmath }}
      {{ insert foot_katex.html }}
  {{ end }}
  {{ if hascode }}
      {{ insert foot_highlight.html }}
  {{ end }}
</body>
</html>
